* {
    box-sizing: border-box;
}

.calc-container {
    width: 40%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

.result-container {
    background-color: rgb(109, 103, 103);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-display {
    height: 70%;
    width: 90%;
    background-color: white;
    font-size: 3rem;
    color: black;
}

.function {
    /* PREVENT the text to overflow */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons-container {
    background-color: rgb(247, 169, 52);
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;

}

.num-button,
.operand-button {
    flex-basis: 20%;
    aspect-ratio: 1 / 1;
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    /* PREVENT the user from selecting the text on the buttons while clicking */
    user-select: none;
    -webkit-user-select: none;
}

.num-button:hover,
.operand-button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.num-button {
    background-color: gray;
}


.operand-button {
    background-color: pink;
}